/* Important for styles:: */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --primaryColor:#3A3A3A;
    --secondaryColor:white;
    --thirdColor:#787885;
    --btnBg:#E02C6D;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Styling start from Header */

/* Header Section */
.toogle-menu{
    display: none;
}
.header-section{
    padding: 25px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-heading{
    letter-spacing: 2px;
    font-size: 1.5vw;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

ul li{
    list-style-type: none;
}
ul li a{
    font-weight: bold;
    text-decoration: none;
    color: var(--primaryColor);
}
/* Header End */

/* ---------------------------------
        MAIN SECTION STARTED
   ---------------------------------*/ 

/* Section 01 */
.section-1{
    padding: 25px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1-heading{
    font-size: 4vw;
    font-weight: bolder;
}
.section1-description{
    padding-right: 50px;
    color: var(--primaryColor);
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.5;
    font-weight: bold;
}
.section1-btn button{
    margin-top: 20px;
    padding: 10px;
    width: 12rem;
    background-color: var(--btnBg);
    color: var(--secondaryColor);
    font-size: 1vw;
    font-weight: bold;
    border: hidden;
    border-radius: 40px;

}

.section1-img img {
    height: 400px;
    width: 400px;
    padding: 20px;
}

.section1-right{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/* Section 02:: */
.section-2{
    margin: 30px 130px;
    padding: 50px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid rgb(234, 229, 229);
    box-shadow: 3px 5px 5px rgb(205, 202, 202) ;
}

/* Section 03 */
.pp-collection{
    margin-top: 100px;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.section-3{
    padding: 20px 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.popular-collection{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(225, 222, 222);
}
.popular-heading{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1.5vw;
}
.popular-price{
    font-size: 1.1vw;
}
.rate2{
    display: flex;
    justify-content:flex-start;

}
.rating{
    color: rgb(255, 142, 4);
}
.popular-image img{
    width: 100%;
}
.light-set{
    height: 270px;
}

.next-page{
    padding: 20px 200px;
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    color: var(--btnBg);
}

/* Section 04: */
.section-4{
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.section4-heading{
    font-size: 2.5vw;
    font-weight: bolder;
}
.section4-description{
    margin-top: 12px;
    font-size: 1.1vw;
    line-height: 1.5;
}

/* Footer */
footer{
    text-align: center;
    padding: 50px 0px;
    line-height: 2;
    color: var(--secondaryColor);
    background-color: black;
}
.footer-social{
    margin-top: 13px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-munna a{
    text-decoration: none;
    color: red;

}
/* ---------------------------------------------------
RESPONSIVE DESIGN FOR DESKTOP, LAPTOP & MOBILE DEVICES
------------------------------------------------------*/

/* For tablet and Landscape Mode devices */
@media only screen and (min-width:577px) and (max-width:992px) {
    /* Header Start styling */
    .header-section{
        padding: 5px 35px;
    }
    .toogle-menu{
        display: block;
    }
    ul li{
        display: none;
    }
    ul li:last-child{
        display: block;
    }
    .header-heading{
        letter-spacing: 0px;
        margin-left: 12%;
        font-size: 2.5vw;
    }
    /* Header styling End */

      /* Section 01 start */
      .section-1{
        padding: 25px 20px;
        flex-direction: column-reverse;
    }
    .section1-img img{
        height: 100%;
        padding: 15px;
    }
    .section1-heading{
        text-align: center;
        margin-top: 15px;
        font-size: 3vw;
    }
    .section1-description{
        margin-left: 5em;
        text-align: center;
        font-size: 2.3vw;
    }
    .section1-btn{
        text-align: center;
    }
    .section1-btn button{
        font-size: 1.7vw;
    }
    
      /* Section 02 */
      .section-2{
        padding: 30px 5px;
        text-align: center;
        gap: 40px;
        grid-template-columns: repeat(3,1fr);
    }

    /* Section 03 */
    .pp-collection{
        font-size: 3vw;
    }
    .section-3{
        padding: 20px 50px;
    }
    .light-set{
        height: 18.4vw;
    }
    .popular-heading{
        font-size: 2.5vw;
    }
    .popular-price{
        font-size: 2vw;
    }
    .next-page{
        padding: 20px 50px;
    }
    .section4-description{
        font-size: 1.8vw;
    }

    /* Footer */
  
}


/* For Mobile  devices */
@media only screen and (max-width:576px) {
    /* Header Styling */
    .header-section{
        padding: 5px 15px;
    }
    .toogle-menu{
        display: block;
    }
    ul li{
        display: none;
    }
    ul li:last-child{
        display: block;
    }
    .header-heading{
        letter-spacing: 0px;
        margin-left: 12%;
        font-size: 4.5vw;
    }
    /* Header End */

    /* Section 01 start */
    .section-1{
        padding: 25px 20px;
        flex-direction: column-reverse;
    }
    .section1-img img{
        height: 100%;
        width: 100%;
        padding: 15px;
    }
    .section1-heading{
        text-align: center;
        margin-top: 15px;
        font-size: 5vw;
    }
    .section1-description{
        margin-left: 5em;
        text-align: center;
        font-size: 3.3vw;
    }
    .section1-btn{
        text-align: center;
    }
    .section1-btn button{
        font-size: 2.5vw;
    }

    /* Section 02 */
    .section-2{
        margin: 5% 2%;
        padding: 50px;
        gap: 40px;
        grid-template-columns: repeat(2,1fr);

    }

    /* section 03s */
    .pp-collection{
        margin-top: 50px;
        font-size: 5vw;
    }
    .section-3{
        padding: 20px 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .popular-heading{
        font-size: 5vw;
    }
    .popular-price{
        font-size: 4.1vw;
    }
    .next-page{
        padding: 20px 20px;
    }

    /* Section 04 */
    .section-4{
        padding: 8px 15px;
        flex-direction: column-reverse;
    }
    .section4-heading{
        text-align: center;
        font-size: 5vw;
    }
    .section4-description{
        text-align: center;
        font-size: 3vw;
    }
    .left-section4 img{
        width: 100%;
    }


    /* Footer */
footer{
    padding: 40px 0px;
    margin-right: -10px;
    background-color: black;
}
.footer-social{
    margin-top: 13px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-munna a{
    text-decoration: none;
    color: red;

}
}